body{
	background-color: #ffa655;
	font-size: 13px;
}

a:hover {
	text-decoration: none;
}

a:link {
	color: #009c1a;
}

a:visited {
	color: #00590f;
}

p, h1, form, button{
	border:0;
	margin:0;
	padding:0;
}

.center {
	text-align: center;
}

.spacer{
	clear:both;
	height:1px;
}

/* ----------- Adding Idea ----------- */

.IdeaAdd{

	margin:auto;
	width:50%;
	padding:5%;
	border: 1px solid black;
}


/* ------------ Submit Button ------- */

.submit{
	margin-top:5%;
	
	margin-left:18%;
	color:#565656;
	
}

.submit input{
font-size: 80%;
color:purple;
}


/* ----------- stylized ----------- */





div#bg{

	background-image:url(../Documentation/Images/GrassCreature.png);

}



div#ulko{
	
	margin:auto;
	width:65%;

}

div#banner {
	font-size:120%;
	font-weight:bold;
	margin: 1em;
}

div#Add{

	font-size:120%;
	color:#666666;
	color:blue;


}

label#Add{
	display:block;
	font-weight:bold;
	text-align:right;
	color:#FFB6C1;
	float:left;
}


/*
.submit{
	background-color:;
}*/

/* session / login */

#loginbox {
	border-style: groove;
	border-color: #98bf21;
	padding: 0.5em;
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

#registerform td {
	padding: 5px;
	height: 42px;
}

#registerform img {
	vertical-align: middle;
}

#registerform input {
	vertical-align: middle;
}

iframe#main {
	width: 99%;
	border: 0px;
	position: fixed;
	z-index: -1;
	right: 10px;
	height: 100%;
}

.ideabox {
	border: 2px groove #4b7daa;
	display: inline-block;
	padding: 0.5em;
	margin: 1em;
	background-image: url(../img/cloudbg.png);
	text-align: center;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.ideabox h3 {
	margin-top: 0px;
}

.ideabox td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#frontwelcome {
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 1em;
}

#adminnote {
	margin: 3em;
	margin-top: 1em;
	border-width: 5px;
	font-size: larger;
	padding: 2em;
}

#frontsearch {
	text-align: left;
}

#frontsearch input {
	margin-bottom: 0.5em;
}

#ideadiv {
	margin: 2em;
}

#ideadiv td {
	padding: 5px;
	border-bottom: 1px solid;
}

#ideadiv table {
	border-collapse: collapse;
	max-width: 50%;
}

#ideadiv tr:hover {
	background-image: url(../img/cloudbg.png);
}

#idealeft {
	min-width: 9em;
}

.accidea {
	display: inline-block;
	margin: 70px;
}

.accidea input {
	margin-left: 1em;
	margin-right: 1em;
}

#rightbar {
	float: right;
	clear: both;
	text-align: center;
	margin-top: 5em;
}

.rightbox {
	display: inline-block;
	padding: 0.5em;
	margin-right: 1em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	background-image: url(../img/cloudbg.png);
	min-width: 150px;
	min-height: 20px;
	font-size: larger;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.rightbox input {
	font-size: 12px;
}

.rightbox img {
	border-style: none;
}

#userdiv {
	margin: 2em;
}

#userdiv td, th {
	padding: 5px;
	border-bottom: 1px solid;
}

#userdiv table {
	border-collapse: collapse;
	max-width: 50%;
}

#userdiv tr:hover {
	background-image: url(../img/cloudbg.png);
}
