body{
	background-color:#736AFF;
	font-size:12px;
 
}

p, h1, form, button{
	border:0;
	margin:0;
	padding:0;
}

.spacer{
	clear:both;
	height:1px;
}

/* ----------- Adding Idea ----------- */

.IdeaAdd{

	margin:auto;
	width:20%;
	padding:5%;
}


/* ------------ Submit Button ------- */

.submit{
	margin-top:5%;
	
	margin-left:18%;
	color:#565656;
	
}

.submit input{
font-size: 80%;
color:purple;
}


/* ----------- stylized ----------- */





div#bg{

	background-image:url(../Documentation/Images/GrassCreature.png);

}



div#ulko{
	
	margin:auto;
	width:65%;

}

div#banner {
	color: green;
	font-size:160%;
	font-weight:bold;

}

div#Add{

	font-size:120%;
	color:#666666;
	color:blue;


}

label#Add{
	display:block;
	font-weight:bold;
	text-align:right;
	color:#FFB6C1;
	float:left;
}


/*
.submit{
	background-color:;
}*/

/* session / login */

#loginbox {
	border-style: groove;
	border-color: #98bf21;
	padding: 0.5em;
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

#registerform td {
	padding: 5px;
	height: 42px;
}

#registerform img {
	vertical-align: middle;
}

#registerform input {
	vertical-align: middle;
}

iframe#main {
	width: 99%;
	border: 0px;
	position: fixed;
	z-index: -1;
	right: 10px;
	height: 100%;
}

